
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.html
* 6/20/2012
*/

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		/* ---------------------------------------------------------------------- */
		/*	Header
		/* ---------------------------------------------------------------------- */	
		
		.no-touch #header { position: relative; }
			
		/* ---------------------------------------------------------------------- */
		/*	Content
		/* ---------------------------------------------------------------------- */			
			
		.no-touch #wrapper { padding-top: 0; }	
		
	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		/* -------------------------------------------------- */
		/*	Quotes
		/* -------------------------------------------------- */
		
		blockquote.quoteleft,
		blockquote.quoteright { width: 316px; }
		
		/* -------------------------------------------------- */
		/*	Main Navigation
		/* -------------------------------------------------- */

		.navigation > div > ul > li > a { padding: 0 15px 50px; }
		
		/* -------------------------------------------------- */
		/*	Thumbnails
		/* -------------------------------------------------- */
		

		/* ---------------------------------------------------------------------- */
		/*	Gallery
		/* ---------------------------------------------------------------------- */

			/* -------------------------------------------------- */
			/*	Gallery Items
			/* -------------------------------------------------- */	

				.gallery-items article.one-third,
				.recent-projects article.one-third { height: 169px; }
				
				.gallery-items article.four,
				.recent-projects article.four	   { height: 123px; }
				
				#main .gallery-items article.four,
				#main .recent-projects article.four	   { height: 85px; }
		
		/* -------------------------------------------------- */
		/*	Map
		/* -------------------------------------------------- */

		.google_map { height: 300px; }
                
                /*.scroll-box{ overflow: visible; }*/
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		/* -------------------------------------------------- */
		/*	Contact and Comments Form
		/* -------------------------------------------------- */

		#respond { width: 100%; }
		
			.comments-form input[type="text"],
			.comments-form input[type="email"],
			.comments-form input[type="url"],
			.contact-form input[type="text"],
			.contact-form input[type="email"],
			.contact-form input[type="url"] { width: 100%; }
		
		/* ---------------------------------------------------------------------- */
		/*	Header
		/* ---------------------------------------------------------------------- */
		
			/* -------------------------------------------------- */
			/*	Logo
			/* -------------------------------------------------- */

			#logo { 
				float: none;
				margin-bottom: 15px;
				text-align: center;
			}
		
			/* -------------------------------------------------- */
			/*	Main Navigation
			/* -------------------------------------------------- */
			
			.navigation { float: none; }

				.navigation > div > ul { display: none; }

				/* Responsive Select */

				.responsive-nav { 
					display: block;
					margin-bottom: 50px;
				}

		/* ---------------------------------------------------------------------- */
		/*	Page Header
		/* ---------------------------------------------------------------------- */
		
		.page-header {
			margin-left: 0;
			margin-right: 0;
		}
		
			.page-header h1 { font-size: 45px; }	
		
		/* ---------------------------------------------------------------------- */
		/*	Content
		/* ---------------------------------------------------------------------- */
			
			.section-title { 
				margin-left: 0;
				margin-right: 0;
			}	

			/* -------------------------------------------------- */
			/*	Scroll Box
			/* -------------------------------------------------- */

			.scroll-box {
				margin: 0 auto;
				width: 420px;
				height: auto;
			}	

				.grid {
					margin: 0;
					padding: 0;
					width: auto;
                                       
				}

					.gr-box {
						float: none;
						margin-left: 0;
						width: auto;
					}	

					.gr-box .item {
						float: none;
						width: auto;
						height: auto;
					}

						.gr-box .item:hover img { margin: 0; }
			
		/* ---------------------------------------------------------------------- */
		/*	Blog
		/* ---------------------------------------------------------------------- */

			/* Entry Date */

			.entry .entry-date {
				position: relative;
				top: 0;
				float: left;
				margin-bottom: 20px;
				margin-right: 20px;
			}
			
				.entry-date a { padding: 5px 0; }	
				
					.entry-date .entry-day   { font-size: 30px; }
					.entry-date .entry-month { font-size: 14px; }
					.entry-date .entry-year  { font-size: 15px; }
		
			.entry .entry-meta { display: table; }
			
			/* -------------------------------------------------- */
			/*	Pagenavi
			/* -------------------------------------------------- */

			.wp-pagenavi { margin-bottom: 40px; }
			
		/* ---------------------------------------------------------------------- */
		/*	Gallery
		/* ---------------------------------------------------------------------- */
		
			/* -------------------------------------------------- */
			/*	Gallery Filter
			/* -------------------------------------------------- */
			
			.gallery-filter {
				position: static;
				margin-bottom: 20px;
				width: auto;
				background-color: transparent;
			}
			
				.gallery-filter li {
					display: block;
					float: left;
					text-align: center;
					margin-right: 3px;
					margin-bottom: 3px;
					border-top-width: 0;
				}
				
			/* -------------------------------------------------- */
			/*	Gallery Items
			/* -------------------------------------------------- */	

				.gallery-items article.one-third,
				.gallery-items article.four,
				.recent-projects article.one-third,
				.recent-projects article.four { height: auto; }

				#main .gallery-items article.one-third,
				#main .gallery-items article.four,
				#main .recent-projects article.one-third,
				#main .recent-projects article.four { height: auto; }
				
					.gallery-items article:hover img,
					.recent-projects article:hover img { margin: 0; }	
					
			/* -------------------------------------------------- */
			/*	Masonry Items
			/* -------------------------------------------------- */	
			
			#masonry .col1, 
			#masonry .col2,
			#masonry .col3 { 
				width: 100%;
				height: auto;
				text-align: center; 
			}
			
				#masonry .project-thumb { display: inline-block; }

					#masonry article:hover img,
					#masonry article:hover img { margin: 0; }	
					
		/* ---------------------------------------------------------------------- */
		/*	Footer
		/* ---------------------------------------------------------------------- */
		
		#footer { text-align: center; }

			#footer .eight.omega { margin-top: 15px; }
			
				#footer ul.social-icons { float: none; }
				
		/* -------------------------------------------------- */
		/*	Social Icons
		/* -------------------------------------------------- */
		
		#main .social-icons { margin-bottom: 25px; }
                
               
                .scroller_bar{
                    display: none;
                }
				
				
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
            
            
		
		/* -------------------------------------------------- */
		/*	Quotes
		/* -------------------------------------------------- */
		
		blockquote.quoteleft,
		blockquote.quoteright { 
			margin-left: 0;
			margin-right: 0;
			width: 375px; 
		}
		
		/* -------------------------------------------------- */
		/*	Scroll Box
		/* -------------------------------------------------- */

		.scroll-box {
			margin: 0 auto;
			width: 420px;
			height: auto;
		}	
		.grid{
                    position: relative;
                }
                .activeSlider #controls{
                    height: 100px;
                }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		/* -------------------------------------------------- */
		/*	Quotes
		/* -------------------------------------------------- */
		
		blockquote.quoteleft,
		blockquote.quoteright { 
			margin-left: 0;
			margin-right: 0;
			width: 255px;
		}
	
		/* -------------------------------------------------- */
		/*	Map
		/* -------------------------------------------------- */

		.google_map { height: 300px; }
		
		/* -------------------------------------------------- */
		/*	Tabs
		/* -------------------------------------------------- */

			.tabs-nav li a {
				display: inline-block;
				padding: 5px 13px;
				font-size: 12px;
			}
			
		/* -------------------------------------------------- */
		/*	Scroll Box
		/* -------------------------------------------------- */

		.scroll-box {
			margin: 0 auto;
			width: 300px;
			height: auto;
		}	
		
		/* -------------------------------------------------- */
		/*	Albums
		/* -------------------------------------------------- */	
		
		.tp-grid {
			min-width: 290px !important;
			margin-left: 10px !important;
		}
                
                .grid{
                    position: relative;
                }
                .tp-grid{
                    margin-top: -250px;
                }
               .fancybox-lock .fancybox-overlay{
                  overflow: hidden !important;
                }
	}
	
	/* ---------------------------------------------------------------------- */
	/*	Animation
	/* ---------------------------------------------------------------------- */
	
	@-webkit-keyframes rotate {
		0% { -webkit-transform: rotate(360deg); }
		100% { -webkit-transform: rotate(0); }
	}

	@-moz-keyframes rotate {
		0% { -moz-transform: rotate(360deg); }
		100% { -moz-transform: rotate(0); }
	}

	@-o-keyframes rotate {
		0% { -o-transform: rotate(360deg); }
		100% { -o-transform: rotate(0); }
	}

	@keyframes rotate {
		0% { transform: rotate(360deg); }
		100% { transform: rotate(0); }
	}

	@-webkit-keyframes unrotate {
		0% { -webkit-transform: rotate(-360deg); }
		100% { -webkit-transform: rotate(0); }
	}

	@-moz-keyframes unrotate {
		0% { -moz-transform: rotate(-360deg); }
		100% { -moz-transform: rotate(0); }
	}

	@-o-keyframes unrotate {
		0% { -o-transform: rotate(-360deg); }
		100% { -o-transform: rotate(0); }
	}

	@keyframes unrotate {
		0% { transform: rotate(-360deg); }
		100% { transform: rotate(0); }
	}
