@{
    ViewBag.Title = "Home Page";
}

<div id="wrapper" class="sbr">
    <div id="content">
        <div class="ajax">
          @*  <ul class="scroll-box-nav" id="folio_categories_bar">
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
                <li><a href="#" data-post-id="582" data-layout="1">Blah</a></li>
            </ul><!--/ .scroll-box-nav-->*@

            <div id="folio_images_area">

                <div class="scroll-box" data-listing-page-id="2">
                    <div class="grid">


                        <div class="gr-box">
                            <div class="item half translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-2.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-2-495x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Beautiful Fashion Model</h5>
                                        <span>Fashion / Photography</span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                            <div class="item half translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-2.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-4-495x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Blond Fashion Model</h5>
                                        <span>Fashion / Photography                                                </span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                            <div class="item large translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-2.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-5-995x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Models in Different Poses</h5>
                                        <span>Fashion / Photography                                                </span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                        </div><!--/ .gr-box-->

                        <div class="gr-box">
                            <div class="item full translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-2.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-3-995x995.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Beautiful Brunette</h5>
                                        <span>Fashion / Photography                                    </span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                        </div><!--/ .gr-box-->






                        <div class="gr-box">
                            <div class="item large translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-7.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-1-995x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Intense Look</h5>
                                        <span>Fashion / Photography                                        </span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                            <div class="item half translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-7.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-7-495x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Chess Girl</h5>
                                        <span>Fashion / Photography</span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                            <div class="item half translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-7.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-8-495x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Beautiful Woman Wearing Jewelry</h5>
                                        <span>Fashion / Photography</span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                        </div><!--/ .gr-box-->

                        <div class="gr-box">
                            <div class="item full translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-7.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-11-995x995.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Fashion Model Vintage Image</h5>
                                        <span>Fashion / Photography                                    </span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                        </div><!--/ .gr-box-->





                        <div class="gr-box">
                            <div class="item half translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-9.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-9-495x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Fashion Beauty Portrait</h5>
                                        <span>Fashion / Photography</span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                            <div class="item half translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-9.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/wedding-9-495x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Blond Hairbeautiful Woman</h5>
                                        <span>Fashion / Photography                                    </span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                            <div class="item large translateEffect">

                                <figure class="gr-figure ">
                                    <a class="gr-lightbox single-image  plus-icon animTop" title="" href="~/Template/wp-content/uploads/2013/08/fashion-9.jpg" data-fancybox-group="grid">
                                        <img class="slideup" src="~/Template/wp-content/uploads/2013/08/fashion-6-995x495.jpg" alt="">
                                    </a>
                                    <a href="~/Template/index971a.html?folio=fashion-2" class="gr-caption">
                                        <h5>Stylish Portrait of Beautiful Model</h5>
                                        <span>Fashion / Photography                                    </span>
                                    </a>
                                </figure><!--/ .gr-figure-->
                            </div><!--/ .item-->
                        </div><!--/ .gr-box-->



                    </div><!--/ .scroll-box-->
                </div>
            </div><!--/ .ajax-->
            <!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->
        </div>
    </div><!--/ #wrapper-->
</div>